In [1]:
import numpy as np
import pandas as pd

### Data Reading

In [2]:
job_data = pd.read_csv("C:\\Users\\Priyanka Sawant\\Desktop\\Dummy\\Recommendation Job\\Combined_Jobs_Final.csv")
job_data.head()

,Job.ID,Provider,Status,Slug,Title,Position,Company,City,State.Name,State.Code,...,Industry,Job.Description,Requirements,Salary,Listing.Start,Listing.End,Employment.Type,Education.Required,Created.At,Updated.At
0,111,1,open,palo-alto-ca-tacolicious-server,Server @ Tacolicious,Server,Tacolicious,Palo Alto,California,CA,...,Food and Beverages,Tacolicious' first Palo Alto store just opened...,NaN,8.00,NaN,NaN,Part-Time,NaN,2013-03-12 02:08:28 UTC,2014-08-16 15:35:36 UTC
1,113,1,open,san-francisco-ca-claude-lane-kitchen-staff-chef,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,San Francisco,California,CA,...,Food and Beverages,\r\n\r\nNew French Brasserie in S.F. Financia...,NaN,0.00,NaN,NaN,Part-Time,NaN,2013-04-12 08:36:36 UTC,2014-08-16 15:35:36 UTC
2,117,1,open,san-francisco-ca-machka-restaurants-corp-barte...,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,San Francisco,California,CA,...,Food and Beverages,We are a popular Mediterranean wine bar and re...,NaN,11.00,NaN,NaN,Part-Time,NaN,2013-07-16 09:34:10 UTC,2014-08-16 15:35:37 UTC
3,121,1,open,brisbane-ca-teriyaki-house-server,Server @ Teriyaki House,Server,Teriyaki House,Brisbane,California,CA,...,Food and Beverages,● Serve food/drinks to customers in a profess...,NaN,10.55,NaN,NaN,Part-Time,NaN,2013-09-04 15:40:30 UTC,2014-08-16 15:35:38 UTC
4,127,1,open,los-angeles-ca-rosa-mexicano-sunset-kitchen-st...,Kitchen Staff/Chef @ Rosa Mexicano - Sunset,Kitchen Staff/Chef,Rosa Mexicano - Sunset,Los Angeles,California,CA,...,Food and Beverages,"Located at the heart of Hollywood, we are one ...",NaN,10.55,NaN,NaN,Part-Time,NaN,2013-07-17 15:26:18 UTC,2014-08-16 15:35:40 UTC

In [3]:
#length of dataframe
print(len(job_data))

84090

In [4]:
#Store only required column from original dataset and store it in new variable name

job_data = job_data[['Status', 'Title', 'Position', 'Company', 'Job.Description']]
print(len(job_data))

84090

In [5]:
#check the records of new dataframe(R*C)
job_data.shape

(84090, 5)

In [6]:
#read the columns 
job_data.columns

Index(['Status', 'Title', 'Position', 'Company', 'Job.Description'], dtype='object')

In [7]:
#print top 5 records
job_data.head()

,Status,Title,Position,Company,Job.Description
0,open,Server @ Tacolicious,Server,Tacolicious,Tacolicious' first Palo Alto store just opened...
1,open,Kitchen Staff/Chef @ Claude Lane,Kitchen Staff/Chef,Claude Lane,\r\n\r\nNew French Brasserie in S.F. Financia...
2,open,Bartender @ Machka Restaurants Corp.,Bartender,Machka Restaurants Corp.,We are a popular Mediterranean wine bar and re...
3,open,Server @ Teriyaki House,Server,Teriyaki House,● Serve food/drinks to customers in a profess...
4,open,Kitchen Staff/Chef @ Rosa Mexicano - Sunset,Kitchen Staff/Chef,Rosa Mexicano - Sunset,"Located at the heart of Hollywood, we are one ..."

In [8]:
#Read the whole description of index 3
job_data['Job.Description'][3]

' ● Serve food/drinks to customers in a professional manner \r\n ● Act as a cashier when needed \r\n ● Clean up the dining space \r\n ● Train the new staff \r\n\r\nA Japanese restaurant in Brisbane is now looking for servers.'

In [9]:
#check for null vaues
job_data.isnull().sum()

Status                0
Title                 0
Position              0
Company            2271
Job.Description      56
dtype: int64

 We can see that there are null values in Company & Job.Description  Variable need to deal with it
 Replace null value with blanks

In [10]:
#Replace values and ceck again
job_data.fillna('',inplace=True)
job_data.isnull().sum()

Status             0
Title              0
Position           0
Company            0
Job.Description    0
dtype: int64

The null values are now replaced from above output

We will choose randomly 2000 data from dataset for processing or building model.

In [12]:
#Randomly choose dataset
job_data = job_data.sample(n=1000,random_state=42)

In [13]:
job_data.shape

(1000, 5)

In [14]:
job_data.dtypes

Status             object
Title              object
Position           object
Company            object
Job.Description    object
dtype: object

In [15]:
#checking the statistical values
job_data.describe()

,Status,Title,Position,Company,Job.Description
count,1000,1000,1000,1000,1000
unique,1,811,781,393,910
top,open,Administrative Assistant @ OfficeTeam,Administrative Assistant,Accountemps,"\r\n&nbsp;\r\nIf you are eager to learn, we ha..."
freq,1000,15,15,144,9

### Data Cleaning

In [16]:
# keeping all letters and digits at lover case, removing stopwords, tokenization, stemming
from nltk.corpus import stopwords
import nltk
nltk.download('punkt')
nltk.download('stopwords')
import re
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt to C:\Users\Priyanka
[nltk_data]     Sawant\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to C:\Users\Priyanka
[nltk_data]     Sawant\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [17]:
ps = PorterStemmer()

In [18]:
def cleaned(txt):
    #step 1:- Removing digits & sepecial character
    txt = re.sub(r'[^a-zA-Z0-9\s]','',txt)
    # step 2:- Tokenizing & Lower case convert
    tokens = nltk.word_tokenize(txt.lower())
    # step 3 and 5:- Stemming on tokenized & join 
    stemming = [ps.stem(w) for w in tokens if w not in stopwords.words('english')]
    return " ".join(stemming)

In [19]:
# to understand function example:-
cleaned("\n\rhiii the place is very lovely & Matching @9032#%$ \n \n ")

'hiii place love match 9032'

In [20]:
#We can see the difference of &-special charachter, Matching/lovely- staemming,is/and- stopwords, Tokenized and Lower case 
cleaned("\n\rhiii the place is very lovely and Matching @9032#%$ \n \n ")

'hiii place love match 9032'

In [21]:
#we are apply above function on all the required variable to get clean data to process further we are converting the dataype of variable to string to detect and clean all special character for eg- \n

In [22]:
job_data['Job.Description'] = job_data['Job.Description'].astype(str).apply(lambda x: cleaned(x))

In [23]:
job_data['Title'] = job_data['Title'].astype(str).apply(lambda x: cleaned(x))

In [24]:
job_data['Position'] = job_data['Position'].astype(str).apply(lambda x: cleaned(x))

In [25]:
#display and see changes happened or not
job_data.head(2)

,Status,Title,Position,Company,Job.Description
64119,open,site director knowledg univers,site director,Knowledge Universe,job summari knowledg univers ku site director ...
35827,open,administr assist officeteam,administr assist,OfficeTeam,ref id 03110118480classif secretaryadmin asstc...

In [26]:
#we will merege the above variables in one set of columns
job_data['cleaned_text'] = job_data['Job.Description']+" "+job_data['Title']+job_data['Position']

In [27]:
job_data['cleaned_text'][35827]

'ref id 03110118480classif secretaryadmin asstcompens 1140 1320 per houri would like place administr assist corpor direct inc locat 348 mill street reno nv 89501 entri level posit pay 12hr perfect candid team player excel phone organiz verbal written commun skill applic good comput skill strong knowledg word would like interview candid next week probabl thursday morn offic mill street appreci make recommend gather resum review look forward hear monday tuesday administr assist officeteamadministr assist'

In [28]:
job_data.head()

,Status,Title,Position,Company,Job.Description,cleaned_text
64119,open,site director knowledg univers,site director,Knowledge Universe,job summari knowledg univers ku site director ...,job summari knowledg univers ku site director ...
35827,open,administr assist officeteam,administr assist,OfficeTeam,ref id 03110118480classif secretaryadmin asstc...,ref id 03110118480classif secretaryadmin asstc...
72100,open,account manag chi payment system,account manag,CHI Payment Systems,yoursquor energet motiv hardwork look prosper ...,yoursquor energet motiv hardwork look prosper ...
46355,open,outsid wholesal sale rep parttim river front c...,outsid wholesal sale rep parttim,River Front Chrysler Jeep Dodge,outsid wholesal sale rep job respons sale repr...,outsid wholesal sale rep job respons sale repr...
34166,open,custom servic rep help peopl hear loss captioncal,custom servic rep help peopl hear loss,CaptionCall,captioncal commun assist imagin life without t...,captioncal commun assist imagin life without t...

We can obsereve our data is cleaned properly

### Vectorization Model Building

In [29]:
#import 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
#getting similar scoress from 1000 rows

tfidf = TfidfVectorizer(stop_words='english')  #
matrix = tfidf.fit_transform(job_data['cleaned_text'])
similarity = cosine_similarity(matrix)

In [31]:
#display similarity score
similarity

array([[1.        , 0.04322045, 0.02131549, ..., 0.05101897, 0.02496253,
        0.08044478],
       [0.04322045, 1.        , 0.02936862, ..., 0.03617188, 0.00565445,
        0.02613043],
       [0.02131549, 0.02936862, 1.        , ..., 0.05498817, 0.02959363,
        0.04218737],
       ...,
       [0.05101897, 0.03617188, 0.05498817, ..., 1.        , 0.05915732,
        0.11128466],
       [0.02496253, 0.00565445, 0.02959363, ..., 0.05915732, 1.        ,
        0.38569354],
       [0.08044478, 0.02613043, 0.04218737, ..., 0.11128466, 0.38569354,
        1.        ]])

In [32]:
#list similarity score of top 10 records
sorted(list(enumerate(similarity[0])), key=lambda x: x[1], reverse=True)[1:10]

[(276, 0.9733772868873092),
 (730, 0.5181424118134745),
 (81, 0.49306292063609425),
 (917, 0.49306292063609425),
 (252, 0.2585811153172217),
 (128, 0.24712958824951992),
 (360, 0.23664048105861918),
 (825, 0.21870641716425473),
 (629, 0.2088881569389071)]

### Working of Recommendation System

In [33]:
#create a function for recommendation working
#as when we decided to pick the data randomly u can see the index of our dataset changed becoz of which we need
def recommend_sys(title):

        indx = job_data[job_data['Title'] == title].index[0]
        indx = job_data.index.get_loc(indx)  #which index we get above remove the location of that indx through get_loc and store in indx
        distances = sorted(list(enumerate(similarity[indx])), key=lambda x: x[1], reverse=True)[1:20]

        jobs = [] #lst to save the store searched & recommended job
        for i in distances:
            jobs.append(job_data.iloc[i[0]].Title)
        return jobs

In [34]:
recommend_sys('site director knowledg univers')

['site director knowledg univers educ llc',
 'teacher knowledg univers',
 'assist teacher knowledg univers',
 'assist teacher knowledg univers',
 'cook knowledg univers',
 'immedi open assist teacher la petit academi',
 'summer school age assist children courtyard',
 'hvac instructor vatterott educ center',
 'temporari coordin site oper macyscom maci',
 'fellowship program coordin connecticut children medic center',
 'medic offic assist instructor concord career colleg inc',
 'youth camp residenti assist activ coordin new york ny el educ servic',
 'pharmaci adjunct instructor brown macki colleg',
 'secur offic regular securita usa',
 'secur offic 100000 job coalit securita usa',
 'school day camp counselor ii ymca greenvil',
 'faculti call zenith educ group',
 'faculti support specialist zenith educ group',
 'handbag sell specialist part time bloomingdal chevi chase md bloomingdal']

In [39]:
recommend_sys('teacher knowledg univers')

['assist teacher knowledg univers',
 'assist teacher knowledg univers',
 'site director knowledg univers',
 'site director knowledg univers educ llc',
 'immedi open assist teacher la petit academi',
 'summer school age assist children courtyard',
 'medic offic assist instructor concord career colleg inc',
 'cook knowledg univers',
 'pharmaci adjunct instructor brown macki colleg',
 'faculti support specialist zenith educ group',
 'hvac instructor vatterott educ center',
 'faculti call zenith educ group',
 'intervent specialist aspiranet',
 'emerg medic technician emt bartlett region hospit',
 'adjunct faculti job fair northern virginia commun colleg',
 'temporari dorm supervisor treasur island job corp',
 'rn staff prn lo robl surgeri center parallon',
 'center custom servic specialist need officeteam',
 'mental health technician parttim 1st shift devereux']

In [40]:
### save the model pickle format

In [41]:
import pickle
pickle.dump(job_data,open('job_data.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))